@import '../add-task/add-task.page.scss';

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: var(--ion-color-medium);
  
  ion-spinner {
    margin-bottom: 16px;
  }
}
